.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avatar {
    border-radius: 50%;
    border: 2px solid #fff; /* Add a border around the avatar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  /* Optional: Add hover effect */
  .avatar:hover {
    transform: scale(1.05);
  }
  